.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_image {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 50%;
  }
  &_title {
    color: #164d59;

    text-align: center;
    font-family: Gwen-Trial;
    font-size: 21px;
    font-style: normal;
    font-weight: 650;
    line-height: 30px;
  }

  &_role {
    margin-top: 5px;
    color: #f44f70;
  }

  &_description {
    margin-top: 10px;
    text-align: center;
    max-width: 270px;
    color: #9799ac;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    // line-height: 26px;
  }
}

@media (min-width: 768px) {
  .card_image {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 1450px) and (min-height: 1000px) {
  .card_image {
    width: 200px;
    height: 200px;
  }
}
