@font-face {
    font-family: 'Gween';
    src: local('Gween'),
    url('../../assets/fonts/Gwen-Trial-Regular.woff') format('woff'),
    url('../../assets/fonts/Gwen-Trial-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'HandstaSignature';
    src: local('HandstaSignature'),
    url('../../assets/fonts/Handsta Signature.woff') format('woff'),
    url('../../assets/fonts/Handsta Signature.woff2') format('woff2');
}

