.details {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: Quicksand;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;

  &__inner {
    width: 100%;

    display: flex;
    gap: 25px;
    align-items: center;
  }
}

.text {
  font-size: 12px;
  line-height: 20px;

  padding-left: 48px;

  animation-name: AnimationText;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.summary::marker {
  display: none;
}

.cross {
  rotate: -45deg;

  animation-name: AnimationCross;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes AnimationCross {
  from {
    rotate: -45deg;
  }
  to {
    rotate: 2deg;
  }
}

@keyframes AnimationText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
