:root {
  --body: #fff;
  --text: #363537;

  --quotes-staticLightBackgroundColor: rgba(205, 168, 112, 0.1);
  --quotes-staticDarkBackgroundColor: rgba(0, 0, 0, 0.75);
  --quotes-staticLightTextColor: #164d59;
  --quotes-staticDarkTextColor: #fff;

  --quotes-staticLightDisplayLightIcon: block;
  --quotes-staticLightDisplayDarkIcon: none;

  --quotes-staticDarkDisplayLightIcon: none;
  --quotes-staticDarkDisplayDarkIcon: block;
}

body * {
  transition: color 1s cubic-bezier(0.19, 1, 0.22, 1),
    background 1s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1s cubic-bezier(0.19, 1, 0.22, 1),
    background-color 1s cubic-bezier(0.19, 1, 0.22, 1);
}

body.light {
  --body: #fff;
  --text: #363537;
  --toggleBorder: #fff;
  --background: #363537;
  --greetingsTextColor: #9799ac;
  --greetingsHeaderColor: #164d59;
  --greetingsBackgroundVideoDisplay: none;
  --greetingsBackgroundVideoOpacity: 0;
  --greetingsBackground: rgba(0, 0, 0, 0);
  --greetings-signUpBackground: rgba(205, 168, 112, 0.75);
  --greetings-findOutBackground: rgba(205, 168, 112, 0.15);
  --greetings-signUpText: #164d59;
  --greetings-findOutText: #c19b61;
  --greetings-userIconDarkDisplay: none;
  --greetings-userIconLightDisplay: block;
  --greetings-googleIcon: none;
  --greetings-googleIconLight: block;
  --greetings-appIcon: none;
  --greetings-appIconLight: block;
  --portal-imageColor: white;
  --portal-headerTextColor: #164d59;
  --portal-backgroundColor: rgba(205, 168, 112, 0.1);
  --portal-textQuotesColor: #164d59;
  --trophies-headerText: #164d59;
  --trophies-background-color: #fff;
  --trophies-headerHalfText: #cda870;
  --trophies-displayIconsLight: block;
  --trophies-displayIconsDark: none;
  --trophies-hourContent: #9799ac;
  --trophies-headerContent: #cda870;
  --workflow-headerHalfText: #164d59;
  --workflow-contentHeader: #164d59;
  --workflow-arrowDark: none;
  --workflow-arrowLight: block;
  --faq-background: #fff;
  --faq-textContent: #9799ac;
  --faq-textDescription: #164d59;
  --faq-textButton: #164d59;
  --faq-backgroundField: rgba(205, 168, 112, 0.1);
  --faq-buttonText: #164d59;
  --faq-buttonOctagonLight: block;
  --faq-buttonOctagonDark: none;
  --color-bg: #ffffff;
  --color-fg: #000000;

  --quotes-iconLight: block;
  --quotes-iconDark: none;
  --quotes-backgroundColor: rgba(205, 168, 112, 0.1);
  --quotes-textColor: #164d59;

  --text-header: rgba(202, 150, 82);
  --text-header-over: rgba(151, 153, 172, 0.07);

  --contact-us-background: url("./../../assets/images/Contact Us/BackgroundImageLight.png");
  --contact-us-fade: none;
  --contact-us-title: #164D59;
  --contact-us-input-background: rgba(205, 168, 112, 0.1);
  --contact-us-input-border: #FFFFFF;
  --contact-us-field-background: #FFFFFF;
  --contact-us-input-title-left: #164D59;
  --contact-us-input-title-right: #CDA870;
  --contact-us-content: rgba(205, 168, 112, 0.1);
  --contact-us-content-title: rgba(22, 77, 89, 1);
  --contact-us-register-button: rgba(205, 168, 112, 0.15);
  --contact-us-content-text: rgba(22, 77, 89, 1);

}

body.dark {
  --body: #363537;
  --text: #fafafa;
  --toggleBorder: #6b8096;
  --background: #999;
  --greetingsTextColor: #fbfdfc;
  --greetingsHeaderColor: #fff;
  --greetingsBackgroundVideoDisplay: block;
  --greetingsBackgroundVideoOpacity: 1;
  --greetingsBackground: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  --greetings-signUpBackground: #cda870;
  --greetings-findOutBackground: rgba(255, 255, 255, 0.15);
  --greetings-signUpText: #272727;
  --greetings-findOutText: #cda870;
  --greetings-userIconDarkDisplay: block;
  --greetings-userIconLightDisplay: none;
  --greetings-googleIconLight: none;
  --greetings-googleIcon: block;
  --greetings-appIconLight: none;
  --greetings-appIcon: block;

  --portal-imageColor: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  --portal-backgroundColor: rgba(255, 255, 255, 0.1);
  --portal-headerTextColor: #fff;
  --portal-textQuotesColor: #fff;
  --trophies-headerText: #fff;
  --trophies-background-color: rgba(0, 0, 0, 0.7);
  --trophies-headerHalfText: #fff;
  --trophies-displayIconsLight: none;
  --trophies-displayIconsDark: block;
  --trophies-hourContent: #fff;
  --trophies-headerContent: #cda870;
  --workflow-headerHalfText: #fff;
  --workflow-contentHeader: #fff;
  --workflow-arrowDark: block;
  --workflow-arrowLight: none;
  --faq-background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  --faq-textContent: #fff;
  --faq-textDescription: #fff;
  --faq-textButton: #272727;
  --faq-backgroundField: rgba(255, 255, 255, 0.1);
  --faq-buttonText: #272727;
  --faq-buttonOctagonLight: none;
  --faq-buttonOctagonDark: block;
  --color-bg: #343434;
  --color-fg: #ffffff;

  --quotes-iconLight: none;
  --quotes-iconDark: block;
  --quotes-backgroundColor: rgba(0, 0, 0, 0.75);
  --quotes-textColor: #fff;

  --text-header: rgba(202, 150, 82);
  --text-header-over: rgba(151, 153, 172, 0.05);

  --contact-us-background: url("./../../assets/images/Contact Us/BackgroundImage.png");
  --contact-us-fade: radial-gradient(
                  50% 50% at 50% 50%,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 0.75) 100%);
  --contact-us-title: #FFFFFF;
  --contact-us-input-background: rgba(255, 255, 255, 0.1);
  --contact-us-input-border: #9799ac;
  --contact-us-field-background: rgba(251, 253, 252, 0.05);
  --contact-us-input-title-left: #cda870;
  --contact-us-input-title-right: #FFFFFF;
  --contact-us-content: rgba(40, 40, 40, 1);
  --contact-us-content-title: #FFFFFF;
  --contact-us-register-button: rgba(255, 255, 255, 0.1);
  --contact-us-content-text: #FFFFFF;
}
