:root {
  --body: #fff;
  --text: #363537;
}

body * {
  transition: color 1s cubic-bezier(0.19, 1, 0.22, 1),
    background 1s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1s cubic-bezier(0.19, 1, 0.22, 1),
    background-color 1s cubic-bezier(0.19, 1, 0.22, 1);
}

body.light {
  --body: #fff;
  --text: #363537;
  --toggleBorder: #fff;
  --background: #363537;
  --greetingsTextColor: #9799ac;
  --greetingsHeaderColor: #164d59;
  --greetingsBackgroundVideoDisplay: none;
  --greetingsBackgroundVideoOpacity: 0;
  --greetingsBackground: rgba(0, 0, 0, 0);
  --greetings-signUpBackground: rgba(205, 168, 112, 0.75);
  --greetings-findOutBackground: rgba(205, 168, 112, 0.15);
  --greetings-signUpText: #164d59;
  --greetings-findOutText: #c19b61;
  --greetings-userIconDarkDisplay: none;
  --greetings-userIconLightDisplay: block;
  --greetings-googleIcon: none;
  --greetings-googleIconLight: block;
  --greetings-appIcon: none;
  --greetings-appIconLight: block;
  --portal-imageColor: white;
  --portal-headerTextColor: #164d59;
  --portal-backgroundColor: rgba(205, 168, 112, 0.1);
  --portal-textQuotesColor: #164d59;
  --quotes-iconLight: block;
  --quotes-iconDark: none;
  --trophies-headerText: #164d59;
  --trophies-background-color: #fff;
  --trophies-headerHalfText: #cda870;
  --trophies-displayIconsLight: block;
  --trophies-displayIconsDark: none;
  --trophies-hourContent: #9799ac;
  --trophies-headerContent: #cda870;
  --workflow-headerHalfText: #164d59;
  --workflow-contentHeader: #164d59;
  --workflow-arrowDark: none;
  --workflow-arrowLight: block;
  --faq-background: #fff;
  --faq-textContent: #9799ac;
  --faq-textDescription: #164d59;
  --faq-textButton: #164d59;
  --faq-backgroundField: rgba(205, 168, 112, 0.1);
  --faq-buttonText: #164d59;
  --faq-buttonOctagonLight: block;
  --faq-buttonOctagonDark: none;
}

body.dark {
  --body: #363537;
  --text: #fafafa;
  --toggleBorder: #6b8096;
  --background: #999;
  --greetingsTextColor: #fbfdfc;
  --greetingsHeaderColor: #fff;
  --greetingsBackgroundVideoDisplay: block;
  --greetingsBackgroundVideoOpacity: 1;
  --greetingsBackground: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  --greetings-signUpBackground: #cda870;
  --greetings-findOutBackground: rgba(255, 255, 255, 0.15);
  --greetings-signUpText: #272727;
  --greetings-findOutText: #cda870;
  --greetings-userIconDarkDisplay: block;
  --greetings-userIconLightDisplay: none;
  --greetings-googleIconLight: none;
  --greetings-googleIcon: block;
  --greetings-appIconLight: none;
  --greetings-appIcon: block;

  --portal-imageColor: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  --portal-backgroundColor: rgba(255, 255, 255, 0.1);
  --portal-headerTextColor: #fff;
  --portal-textQuotesColor: #fff;
  --quotes-iconLight: none;
  --quotes-iconDark: block;
  --trophies-headerText: #fff;
  --trophies-background-color: rgba(0, 0, 0, 0.7);
  --trophies-headerHalfText: #fff;
  --trophies-displayIconsLight: none;
  --trophies-displayIconsDark: block;
  --trophies-hourContent: #fff;
  --trophies-headerContent: #cda870;
  --workflow-headerHalfText: #fff;
  --workflow-contentHeader: #fff;
  --workflow-arrowDark: block;
  --workflow-arrowLight: none;
  --faq-background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  --faq-textContent: #fff;
  --faq-textDescription: #fff;
  --faq-textButton: #272727;
  --faq-backgroundField: rgba(255, 255, 255, 0.1);
  --faq-buttonText: #272727;
  --faq-buttonOctagonLight: none;
  --faq-buttonOctagonDark: block;
}
